<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


    <import resource="init.xml"/>
    <import resource="caches.xml"/>
    <import resource="web.xml"/>
    <import resource="env.xml"/>
    <import resource="app.xml"/>
    <import resource="startup.xml"/>


  
</beans>